<header>
        <div class="homeLogoContent">
        <img class='logoHome' src="/assets/img/logo.png" alt="logoMcDonals">
        <h2 class="subtitleHome">VEGGY</h2>
        </div>
    <div class="contentHeader">
        <h3 class='loginHome'>LOGIN</h3>
            <form action="/" method="post" class="homeForm">
            <label>Email:</label>
            <input type="email" name="emailHome">

            <label>Password:</label>
            <input type="password" name="passwordHome">

            <button type="submit">SEND</button>
        </form>


        <a class='signupHomeLink' href="/signup">signup</a>

    </div>
</header>
