<h1>Creates a user</h1>

<form action="/signup" method="post" id="signupForm">
    <label>Email:</label>
    <input type="email" name="emailSignup">

    <label>Password:</label>
    <input type="password" name="passwordSignup">

    <button type="submit">SEND</button>
</form>